<!--Index content-->
<% provide(:title, "Home") %>
<h1>Flashies</h1>
<p>Create, Manage & Study your flash cards so you can ace any test</p>

<div><p>New User? <%= link_to 'Sign up now!', signup_path %></p></div>
