<p>
<!-- Display a resource -- uses file to get name part of url -->
<strong>*</strong> <%=  File.basename(upload.upload.url, File.extname(upload.upload.url).downcase) %>
<%= link_to 'View', upload.upload.url, :target => "_blank" %>
<!-- Allow for deleting a resource 
Will fire off a DELETE with this note's id to Upload;'s controller -->
<%= link_to 'Delete Resource', [upload.flashcard, upload],
 	method: :delete,
 	data: { confirm: 'Are you sure you want to delete this resource?' } %>
</p>