<!DOCTYPE html>
<html>
<head>
  <title>Flashies | Flashcards for Study</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
	
		<div id="flashies_main">
		</div>
		<%= yield %>
	
	</body>
</html>
